body {
    background-color: #FFF2CC;
    position: relative;
}

.container {
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px;
    height: 100vh;
}

.div1 {
    display: flex;
    background-color: white;
    grid-row: 1 / span 4;
    grid-column: 1 / span 1;
    position: relative;
    height: 95vh;
}

.div2 {
    background-color: #ADC8E8;
    grid-row: 1 /span 1;
    grid-column: 2 / span 1;
    height: 25vh;
    position: relative;
}

.div3 {
    display: flex;
    background-color: #A9CE98;
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    align-items: center;
    justify-content: center;
    height: 15vh;
    font-size: 40px;
    margin-top: 35px;
}

.div4 {
    display: flex;
    background-color: #A9CE98;
    grid-row: 3 / span 1;
    grid-column: 2 / span 1;
    align-items: center;
    justify-content: center;
    height: 15vh;
    font-size: 40px;
}

.button {
    background-color: #F6B69B;
    grid-row: 4 / span 1;
    grid-column: 2 /span 1;
    height: 15vh;
    font-size: 40px;
}