body {
    text-align: center;
    background-color: #FFF2CC;
    min-width: 800px;
}

h1 {
    background-color: #888888;
    color: #DCDC31;
    font-size: 50px;
    margin: 0;
}

.a {
    margin: 10px;
    margin-right: 30px;
    display: block;
    width: 16.7000668%;
    height: 109.38337802%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 0;
}

.button2-4 {
    opacity: 0.5;
    width: 110%;
    height: 95%;
    font-size: 5vh;
    background-color: #F6B69B;
    border: white;
}

.button1-3 {
    width: 110%;
    height: 95%;
    font-size: 5vh;
    background-color: #F6B69B;
    border: white;
}

.image {
    width: 53.4402138%;
    height: 33.5120643%;
    margin-top: 20px;
    margin-bottom: 10px;
}